.section {
  background-color: #ffffff;
  display: grid;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.section .div {
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.section .group {
  height: 1274px;
  left: -416px;
  position: absolute;
  top: -1814px;
  transform: rotate(-180deg);
  width: 1522px;
}

.section .group-2 {
  height: 1274px;
  mix-blend-mode: hard-light;
  position: relative;
}

.section .overlap-group {
  height: 1328px;
  left: 1337px;
  position: absolute;
  top: 15303px;
  width: 2054px;
}

.section .shape {
  height: 1117px;
  left: 584px;
  position: absolute;
  top: 210px;
  transform: rotate(180deg);
  width: 1470px;
}

.section .img {
  height: 592px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 947px;
}

.section .shape-2 {
  height: 431px;
  left: 1429px;
  position: absolute;
  top: 253px;
  transform: rotate(180deg);
  width: 625px;
  background-color: #000000;
}

.section .rectangle {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  height: 1560px;
  left: 398px;
  position: absolute;
  top: 163px;
  width: 1560px;
}

.section .overlap {
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0%;
  width: 50%;
}


.section .icon-cross-ring-two {
  height: 115px !important;
  left: 233px !important;
  position: absolute !important;
  top: 189px !important;
  width: 115px !important;
}

.section .group-3 {
  height: 25%;
  left: 25%;
  position: absolute;
  bottom: 1%;
  width: 13%;

}

.section .chat {
  background-color: #171a52;
  height: 30%;
  right: 5%;
  position: absolute;
  bottom: 3%;
  width: 25%;
}

.section .text-wrapper {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14.3px;
  font-weight: 400;
  left: 26px;
  letter-spacing: -0.43px;
  line-height: normal;
  position: absolute;
  top: 137px;
  width: 169px;
}

.section .div-wrapper {
  height: 24px;
  left: 41px;
  position: absolute;
  top: 25px;
  width: 102px;
}

.section .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.48px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 100px;
}

.section .overlap-group-wrapper {
  height: 36px;
  left: 41px;
  position: absolute;
  top: 76px;
  width: 79px;
}

.section .overlap-group-2 {
  height: 36px;
  position: relative;
}

.section .rectangle-wrapper {
  height: 22px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 56px;
}

.section .rectangle-2 {
  border: 4.78px solid;
  border-color: #ffffff;
  border-radius: 25.16px;
  height: 56px;
  left: 17px;
  position: relative;
  top: -17px;
  transform: rotate(-90deg);
  width: 22px;
}

.section .group-4 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 79px;
}

.section .group-5 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 11px;
}

.section .group-6 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 11px;
}

.section .rectangle-3 {
  background-color: #ffffff;
  border: 0px none;
  border-radius: 25.16px;
  height: 11px;
  left: 3px;
  position: relative;
  top: -3px;
  transform: rotate(-90deg);
  width: 5px;
}

.section .group-7 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 32px;
  transform: rotate(180deg);
  width: 11px;
}

.section .group-8 {
  height: 36px;
  left: 67px;
  position: absolute;
  top: 0;
  width: 11px;
}

.section .group-9 {
  height: 1274px;
  left: -1285px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 740px;
  transform: rotate(-180deg);
  width: 1522px;
}

.section .overlap-2 {
  height: 1328px;
  left: 468px;
  position: absolute;
  top: 17457px;
  width: 100vw;
}

.section .shape-3 {
  height: 82px;
  left: -26px;
  position: absolute;
  top: 1034px;
  transform: rotate(180deg);
  width: 263px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.left {
  width: 100px;


}

.right {
  height: 100%;
  width: 20%;

}

.right1 {
  height: 20%;
  width: 100%;
  background: rgb(0, 0, 0)
}

.right2 {
  height: 20%;
  width: 100%;
  background: rgb(0, 0, 0);
  bottom: 20%;
  margin-top: 200%;

}

.right3 {
  height: 20%;
  width: 100%;
  background: rgb(0, 0, 0);
  margin-top: 260%;
}

.container {
  height: 100vh
}

.left {
  background: rgb(0, 0, 0)
}

/* Here Starts The Styling of the left Half of the whole section  */

.sectionleft .p {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 20%;
  letter-spacing: -0.54px;
  line-height: normal;
  position: absolute;
  text-align: left;
  width: 249px;
  bottom: 50%;
}

.sectionleft .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 28%;
  letter-spacing: -0.39px;
  line-height: normal;
  position: absolute;
  bottom: 46%;
}
.sectionleft .mobility-re-done {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 28.2px;
  font-weight: 700;
  left: 20%;
  letter-spacing: 0;
  line-height: 28.2px;
  position: absolute;
  text-align: center;
  bottom: 58%;
}

.sectionleft .span {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 28.2px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28.2px;
}

.sectionleft .text-wrapper-4 {
  font-size: 63.8px;
  line-height: 63.8px;
}

.sectionleft .overlap-wrapper {
  height: 38px;
  left: 18%;
  position: absolute;
  bottom: 45%;
  width: 140px;

}

.sectionleft .overlap-3 {
  background-color: #171a52;
  height: 38px;
  position: relative;
  width: 138px;
  left: 20%;
  
}

.sectionleft .text-wrapper-5 #Link {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 20px;
  letter-spacing: -0.39px;
  line-height: normal;
  position: absolute;
  top: 9px;
}

