.section {
  background-color: #ffffff;
  display: grid;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.section .div {
  background-color: #e0dbfa;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;

}

.section .overlap {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0%;
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}


.left {
  background: rgb(0, 0, 0);
  width: 22%;
}

.right {
  height: 100%;
  width: 20%;
  animation: loopAnimation 1s infinite linear;

}

.right1 {
  height: 40%;
  width: 100%;
  background: rgb(0, 0, 0);

}

.right2 {
  height: 40%;
  width: 100%;
  background: rgb(0, 0, 0);
  margin-top: 200%;

}

.right3 {
  height: 70%;
  width: 100%;
  background: rgb(0, 0, 0);
  margin-top: 260%;
}

.section .group-9 {
  height: 100%;
  width: 100%;
  color: #7bff00;
}

.section .Car {
  height: 25%;
  left: 25%;
  position: absolute;
  bottom: 10%;
  width: 13%;
  animation: vertical-shaking 0.70s infinite;
}

.section .chat {
  background-color: #171a52;
  height: 30%;
  right: 5%;
  position: absolute;
  bottom: 3%;
  width: 25%;
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0)
  }

  25% {
    transform: translateY(5px)
  }

  50% {
    transform: translateY(-5px)
  }

  75% {
    transform: translateY(5px)
  }

  100% {
    transform: translateY(0)
  }
}
@keyframes loopAnimation {
  0% {
    transform: translateY(-100%);
    /* Start at the top */
  }

  -100% {
    transform: translateY(100%);
    /* Move to the bottom */
  }
}