.menu {
  background-color: #ff0808;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw; 


}
.menu .navbar-wrapper {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: fixed;
  top: -5px;
  z-index: 999;
  height: 5%;
  min-height: 7%;
  width: calc(100% - 1.5%);
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  background-color: #ffffffc7;
}



.menu .div {
  height: 60px;
  position: absolute;
}

.menu .text-wrapper {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 30%;
  letter-spacing: -0.39px;
  line-height: normal;
  position: absolute;
  text-transform: uppercase;

}

.menu .text-wrapper-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 37%;
  letter-spacing: -0.39px;
  line-height: normal;
  position: absolute;
  text-transform: uppercase;

}

.menu .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 44%;
  letter-spacing: -0.39px;
  line-height: normal;
  position: absolute;

  text-transform: uppercase;

}

.menu .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 51%;
  letter-spacing: -0.39px;
  line-height: normal;
  position: absolute;

  text-transform: uppercase;

}
.menu .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 600;
  left: 58%;
  letter-spacing: -0.39px;
  line-height: normal;
  position: absolute;
  text-transform: uppercase;

}
.menu .group {
  height: 38px;
  left: 1077px;
  position: absolute;
  top: 11px;
  width: 83px;
}



.menu .overlap-group {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}
.menu .group-wrapper {
  height: 60px;
  left: 225px;
  position: absolute;
  top: 0;
  width: 118px;
}

.menu .img {
  height: 20px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 78px;
}